{% extends 'admin/adminbasefront.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <div class="container mt-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <h3 class="text-left align-top" scope="col">Catégories</h3>
                </tr>
            </thead>
            <tbody>
                {% for categorie in categories %}
                    <tr>
                        <td>
                            <h5 class="text-info">
                                {{ categorie.name }}
                            </h5>
                        </td>
                        <td class="text-center">
                            <a href="{{ path('admin.categories.edit', {id:categorie.id}) }}" class="btn btn-primary">Modifier</a>
                             <a href="{{ path('admin.categories.delete', {id:categorie.id}) }}" class="btn btn-danger" 
                                onclick="return confirm('Etes-vous sûr de vouloir supprimer {{categorie.name}} ?')">Supprimer</a>
                        </td>
                        <td>
                           
                        </td>
                    </tr>
                {% endfor %}			
            </tbody>
        </table>
    </div>
{% endblock %}